@import '../abstract/variaveis';

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.container {
  height: 100%;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 34px;
  .informacoes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
    .img__c {
      width: 100%;
      .img__geral {
        width: 100%;
      }
    }
    h1 {
      text-align: center;
      padding: 7px 0 26px 0;
      font-size: 24px;
      font-weight: 600;
    }
    p {
      text-align: center;
      font-weight: 400;
    }
  }
}

.funcionalidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .botoes__pags {
    display: flex;
    a {
      width: 12px;
      height: 12px;
      margin: 0 5.6px;
      border: 1px solid #000000;
      border-radius: 50%;
      cursor: pointer;
    }
    a:hover {
      background-color: $corprincipal;
      border-color: $corprincipal;
      transition: 0.3s;
    }
  }
  .botao__principal {
    width: 100%;
    margin: 63px 0 42px 0;
    color: $cortextobotao;
    background-color: $corprincipal;
    box-shadow: 0px 4px 10px #A1C3FC;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
  }
  .botao__principal:hover {
    background-color: $hover;
    transition: 0.8s;
  }

  .botao__skip {
    color: $corprincipal;
    text-decoration: none;
  }
  .botao__skip:hover {
    color: $hover;
    transition: 0.8s;
  }
}

@media screen and (min-width: 426px) {
  .container {
    max-width: 425px;
  }
.funcionalidades {
  .botao__principal{
    width: 80%;
  } 
 }
}